.product-add-button-first{
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
    color: var(--rose-900);
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--rose-400);
    background-color: var(--white);
    padding: 1.1rem 2rem;
    border-radius: 50px;
    display: flex;
    gap: 0.5rem;
    width: 240px;
    align-items: center;
    justify-content: center;
}


.button-second{
    display:none;
    background-color: var(--red);
    border: 1px solid var(--white);
    color: var(--white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
    width: 240px;
    padding: 1rem 2rem;
    border-radius: 50px;
    display: none;
    align-items: center;
    justify-content: center;

    & .decrement-div, .increment-div{
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 1px solid var(--white);
        display: flex;
        align-items: center;
        justify-content: center;

    }
   

    & .quantity-button{
        margin-inline: 40px;
    }

}



.buttonConfirm{
    display: none;
    background-color: var(--red);
    color: var(--white);
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    text-align: center;
    font-size: var(--text-2);
    font-weight: 600;
    border: none;
}
