.buttonAdd{
    background-color: var(--white);
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 50px;
    display: flex;
    gap: 8px;
}

.buttonSecond{
    display:none;
    background-color: var(--red);
    color: var(--white);
    width: 160px;
    padding: 12px;
    border-radius: 50px;
    text-align: center;

    & .buttonSecondSpan{
        margin-inline: 40px;
    }

}

.buttonConfirm{
    display: none;
    background-color: var(--red);
    color: var(--white);
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    text-align: center;
    font-size: var(--text-2);
    font-weight: 600;
    border: none;
}
