.main{
    padding:min(1vw,1rem);
    background-color: var(--rose-50);
}

.product-list{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: min(4vw,24px);

}

.product-card{
    background-color: var(--white);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
}

@media screen and (min-width: 768px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
    } 
}
@media screen and (min-width: 992px){
    .product-list{
        grid-template-columns: repeat(3,1fr);
    }
}

.product-img-section{
    position: relative;
}


.product-img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;

}



.product-info{
    padding: min(2vw,1rem);
    display: flex;
    flex-direction: column;
    gap: min(1vw,0.5rem); 
    background-color: var(--rose-50);
    padding-top: 3rem;
}

.product-info p {
  margin: 0;
}

.product-name{
 
    font-weight: 600;
    color: var(--rose-500);
}

.product-fullname{
    font-weight: 600;
    color: var(--rose-900);
}

.product-price{

    font-weight: 700;
    color: var(--red);
}

.pay-section{
    background-color: var(--white);
    border-radius: 1rem;
    padding: min(2vw,1rem);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
    margin-top: min(4vw,24px);
}

.head-quantity{
    color: var(--red);
    
}

.empty-cart{
    color: var(--rose-500);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(2vw,16px);
    padding: min(4vw,24px) 0;
}