.main{
    padding:min(1vw,1rem);
    background-color: var(--rose-50);
}

.product-list{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: min(4vw,24px);

}

.product-card{
    background-color: var(--white);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
}

@media screen and (min-width: 768px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
    } 
}
@media screen and (min-width: 992px){
    .product-list{
        grid-template-columns: repeat(3,1fr);
    }

}


.product-img-section{
    position: relative;
}



.product-img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;

}
.product-add-button{
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
    color: var(--rose-900);
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--rose-400);
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 50px;
    display: flex;
    gap: 0.5rem;
}

.product-info{
    padding: min(2vw,1rem);
    display: flex;
    flex-direction: column;
    gap: min(1vw,0.5rem); 
    background-color: var(--rose-50);
    padding-top: 3rem;
}

.product-info p {
  margin: 0;
}

.product-name{
 
    font-weight: 600;
    color: var(--rose-500);
}

.product-fullname{
    font-weight: 600;
    color: var(--rose-900);
}

.product-price{

    font-weight: 700;
    color: var(--red);
}