 .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;  
    background-color: rgba(0,0,0,0.4); 

}

.modal-header{
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 8px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-inline: 20px !important;
    margin-top: 10px !important;
    
}

.modal-title{
    margin-top: 10px !important;
}

.modal-title-sub{
    color: var(--rose-500);
}

.modal-product-container{
    background-color: var(--rose-50);
    margin-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    border-bottom: 1px solid var(--rose-400);

  
}

.modal-product-img{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 8px;
}
.modal-quantity{
    color: var(--red);
}

.modal-product-link{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
}
.modal-product-right{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.modal-product-right-name{
    color: var(--rose-900);
    font-size: 1.2rem;
    font-weight: 600;
}

.modal-product-details{
    display: flex;
    gap: 20px;

}




.buttonNewOrder{
    background-color: var(--red);
    color: var(--white);
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    text-align: center;
    font-size: var(--text-2);
    font-weight: 600;
    border: none;
}

.order-total-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--rose-50);
    margin-inline: 20px;
}

.modal-footer{
    border-top: none !important;
}